.container{
  height:15vh;
  background-color: #1E1E24;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > p{
  font-size: 15px;
  margin:0 3px;
  color:#DBFCFF;
}


@media screen and (min-width:768px){
  .container{
    height:15vh;
  }
  .container > p{
    font-size: 20px;
    margin:0px 4px;
  }
}